.hidden-checkbox {
  display: none;
}
.closed {
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  background-color: dimgray;
  border-radius: 20px;
  margin-right: 5px;
  position: relative;
  transition: 0.3s;
}
.closed::before {
  position: absolute;
  width: 1.5rem;
  height: 1.4rem;
  content: "";
  transition: 0.6s;
  background-color: rgb(221, 221, 237);
  border-radius: 50%;
}
.opened {
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  background-color: aqua;
  border-radius: 20px;
  margin-right: 5px;
  position: relative;
  transition: 0.3s;
}
.opened::before {
  position: absolute;
  transition: 0.6s;
  width: 1.5rem;
  height: 1.4rem;
  content: "";
  background-color: blue;
  border-radius: 50%;
  right: 0;
}
.security-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.security-submit {
  width: 12%;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: blue;
  color: white;
}
.security-profile-input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px lightblue solid;
}
@media screen and (max-width: 720px) {
  .security-form {
    width: 80vw;
  }
  .security-submit {
    width: 80vw;
  }
  .security-profile-input {
    width: 80vw;
  }
}
