.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
}
.home-section-1 {
  display: flex;
  gap: 1.5rem;
}
.himage1 {
  flex-basis: 60%;
}
.himage2 {
  flex-basis: 40%;
}
.hmid-card {
  display: flex;
  gap: 1.5rem;
}
@media screen and (max-width: 720px) {
  .home-section-1 {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 1rem;
  }
  .hmid-card {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .home-section-2 {
    display: flex;
    flex-direction: column;
  }
}
