.small-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
}
.small-card button{
    border: none;
    color: rgb(232, 175, 29);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(238, 229, 211);
}
.small-card h3{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, .9);
}
.small-card p{
    color: rgba(0, 0, 0, .6);
}