.app{
  background-color: #dff5f6;
  position: relative;
}
.main{
  display: grid;
  position: relative;
  grid-template-columns: 0.2fr 0.8fr;
  gap: 1.5rem;
}
.wraper{
  position: relative;
}
.mside{
  height: 100vh;
  background-color: #fff;
    position: sticky;
    top: 4rem;
    padding-top: 1rem;
}
.routes{
  margin: 1rem 2rem;
}
.small-screen{
  display: none;
}
.delete-button{
  display: none;
}
@media screen and (max-width: 720px) {
  .mside{
    display: none;
  }
  .main{
    position: static;
  }
  .large-screen{
    display: none;
  }
  .small-screen{
    display: block;
  }
  .small-side{
    background-color:rgba(84, 80, 80, 0.175);
    position: sticky;
    top: 0;
    z-index: 2000;

  }
  .show-side{
    display: block;
    position: absolute;
    top: -8rem;
    left: -2rem;
    z-index: 4000;
    background-color: rgba(206, 206, 206, 0.94);
    padding:1rem;
  }
  .delete-button{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    margin-top: 1rem;
  }

}