.app{
  background-color: #dff5f6;
  position: relative;
}
.main{
  display: grid;
  position: relative;
  grid-template-columns: 0.2fr 0.8fr;
}
.wraper{
  position: relative;
}
.mside{
  height: 100vh;
  background-color: #fff;
    position: sticky;
    top: 4rem;
    padding-top: 1rem;
}
.routes{
  margin: auto;
  margin-top: 2rem;
  width: 95%;
}
.small-screen{
  display: none;
}
.delete-button{
  display: none;
}

.retry{
  background-color: #dff5f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.retry button{
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: blue;
  color: white;
}
.retry h3{
  color: rgb(253, 62, 62);
}
@media screen and (max-width: 720px) {
  .routes{
    margin: auto;
    margin-top: 1.5rem;
  }
  .mside{
    display: none;
  }
  .main{
    position: static;
    display: flex;
  }
  .large-screen{
    display: none;
  }
  .small-screen{
    display: block;
  }
  .small-side{
    background-color:rgba(84, 80, 80, 0.175);
    position: sticky;
    top: 0;
    z-index: 2000;

  }
  .show-side{
    display: block;
    position: absolute;
    top: -8rem;
    left: -2rem;
    z-index: 4000;
    background-color: rgba(206, 206, 206, 0.94);
    padding:1rem;
  }
  .delete-button{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    margin-top: 1rem;
  }

}
